
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CursoCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/alertify.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/default.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/semantic.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/bootstrap.css" />
    <link rel="stylesheet" href="~/js/DataTable/datatables.css" />
    <link rel="stylesheet" href="~/JsProyecto/Utilerias/css-loader-master/css-loader-master/dist/css-loader.css" />
    <link rel="stylesheet" href="~/css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Menu/css/style.css" />


</head>
<body>
    <header>
    </header>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="../Home/Index" class="logo">Escuela</a></h1>
            <ul class="list-unstyled components mb-5" id="ListaMenu">
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>Julio20
        </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CursoCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AlertifyJs/alertify.js"></script>
    <script src="~/js/DataTable/datatables.js"></script>
    <script src="~/JsProyecto/Utilerias/Utilerias.js"></script>
    <script src="~/Menu/js/popper.js"></script>
    <script src="~/Menu/js/main.js"></script>
    <script src="~/JsProyecto/Login/Menu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
