@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/alertify.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/default.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/semantic.css" />
    <link rel="stylesheet" href="~/css/AlertifyCss/css/themes/bootstrap.css" />
    <link rel="stylesheet" href="~/js/DataTable/datatables.css" />
    <link rel="stylesheet" href="~/JsProyecto/Utilerias/css-loader-master/css-loader-master/dist/css-loader.css" />
    <link rel="stylesheet" href="~/css/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Menu/css/style.css" />
    <link rel="stylesheet" href="~/css/Login/Login.css" />
</head>
<body>
   


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <span class="fa fa-user fa-4x"></span>
                @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="txtlogin" class="fadeIn second" name="Usuario" placeholder="Usuario">
                <input type="password" id="txtpassword" class="fadeIn third" name="login" placeholder="Contraseña">
                <input type="button" class="fadeIn fourth" value="Entrar" onclick="Entrar();">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">¿Olvidaste tu Contraseña?</a>
            </div>

        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AlertifyJs/alertify.js"></script>
    <script src="~/js/DataTable/datatables.js"></script>
    <script src="~/JsProyecto/Utilerias/Utilerias.js"></script>
    <script src="~/Menu/js/popper.js"></script>
    <script src="~/Menu/js/main.js"></script>
    <script src="~/JsProyecto/Login/Menu.js"></script>
    <script src="~/JsProyecto/Login/Login.js"></script>
</body>
</html>